/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* The Styles that are applied to the whole page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    cursor: pointer;
}
h1{
    text-align: center;
}








/* Styling of the About page */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 25px;
    /* background: #37a1f2; */
    border-radius: 35px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(56,189,248,0.6); 
    
}

.box0{
    background: #1075c2;
    padding: 30px;
    border-radius: 30px;
}

/* styling of the image section */




/* styling of our team section */
.container3{
    display: flex;
    flex-direction: column;
    background:#206092 ;
    gap: 25px;
    padding: 15px;
    border-radius: 35px;
    text-align: center;
     box-shadow: 0 0 15px rgba(56,189,248,0.6); 
}

.box{
    background: rgb(236, 236, 201);
    border-radius: 25px;
    padding: 15px;
    backdrop-filter: blur;
    transition: all o.35s ease;
    }

    .box:hover{
        color: #121a1e;
        background: rgba(56,189,248,0.6);
        transform: translateY(-4px);

    }
   
         .box0:hover{
        color: #121a1e;
        background: rgba(56,189,248,0.6);
        transform: translateY(-4px);
    }

    p{
        background: #1075c2;
        padding: 15px;
        border-radius: 35px;
        backdrop-filter: blur;
        box-shadow: 0 0 15px rgba(56,189,248,0.6);
        padding: 20px;
        text-align: center;
    }

    p:hover{
        color: #121a1e;
        background: rgb(212, 212, 172);
        transform: translate(4px);
    }

    /* media queries */
   /* default styles(for mobile phones) */
  
    body{
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        padding: 20px;
        margin: 0;
    }

    .container{
        width: 95%;
        margin: auto;
    }
           

      @media screen and (max-width:480px){
        font-size: 14px;
      }
   

   /* tablets */
   @media(min-width:481px) and (max-width: 768px){
    body{
        font-size: 16px;
    }
   }
   /* desktops */
   @media(min-width: 769px) and (max-width: 1024px)

   /* large screens */
   @media(min-width: 1025px) and (max-width: 1440px)








